.spacer {
  flex: 1 1 auto;
}
.visual{
  background-color: rgb(44, 44, 47);
  justify-content:space-around;
}
img{
  padding-top: 25px;
  margin: 5px;
  align-items: center;
}

a{
  background-color: rgb(44, 44, 47);
  color: rgb(253, 250, 250);
  text-decoration: none;
  padding: 5px;
  margin: 10px;
}
