<div class="header">
  <div class="title">
    <h3>formações</h3>
  </div>
  <div class="formation">
    <div class="tecnico">
      <div class="circulo-red"></div>
      <p>TECNOLOGIAS E INOVAÇÕES WEB
        Faculdade FARESE de ensino Superior da Região Serrana
      </p>
      <p>cursando</p>
    </div>

    <div class="tecnico">
      <div class="circulo"></div>
      <p>BACHAREL EM SISTEMAS DE INFORMAÇÃO
      FACULDADE ATENAS PARACATU
      </p>
      <p>concluido</p>
    </div>

  </div>
  <h3>habilidades</h3>
</div>
  <div class="container">
    <div class="box-down">
      <div class="card">
        <img src="../../../../assets/imagens/BootcampHtmlDeveloper.png" alt="simbolo do Bootcamp HTML Developer da DIO">
        <h2>HTML Web Developer</h2>
        <p>Aprendendo a programar páginas de internet e desenvolver websites utilizando HTML, CSS e JavaScript
          me tornando um profissional em desenvolvimento web front-end.</p>
          <div class="circulo"></div><h3>concluido</h3>
      </div>
    </div>
    <div class="box-up">
      <div class="card">
        <img src="../../../../assets/imagens/GFT_Start_2021.png" alt="simbolo do Bootcamp GFT START_UNI 2021 #1">
        <h2>START_UNI 2021 #1</h2>
        <p>O bootcamp START_UNI 2021 #1 é um programa gratuito para formação de desenvolvedores front-end, back-end e testers.</p>
          <div class="circulo"></div><h3>concluido</h3>
      </div>
    </div>
    <div class="box-down">
      <div class="card">
        <img src="../../../../assets/imagens/javascript_gamer_developer.png" alt="simbolo do Bootcamp HTML Developer da DIO">
        <h2>JavaScript Game Developer</h2>
        <p>Criar jogos com JavaScript para inciar uma carreira em desenvolvimento front-end
           e me transformar em um dev de alto nível.</p>
          <div class="circulo-red"></div><h3>cursando</h3>
      </div>
    </div>
    <div class="box-up">
      <div class="card">
        <img src="../../../../assets/imagens/Avanade_angular.png" alt="simbolo do Bootcamp HTML Developer da DIO">
        <h2>Avanade Angular Developer</h2>
        <p>Aprendendo e aperfeiçoando o desenvolvimento de  projetos usando Angular 8, buscando os requisitos básicos para conquistar uma oportunidade
           na Avanade Brasil</p>
          <div class="circulo-red"></div><h3>cursando</h3>
      </div>
    </div>
  </div>


