<div class="container">

  <div class="card">
     <div class="card__image-container">
       <a href="#" class="href" target="_blank"><img class="card__image" src="../../../../assets/imagens/calculadora.png" alt=""></a>
    </div>

     <div class="card__content">
       <h1 class="card__title">Calculador</h1>
     <p>Calculadora desenvolvida com HTML-CSS-JAVASCRIPT.</p>
    </div>
  </div>


  <div class="card">
     <div class="card__image-container">
      <a href="https://github.com/edukurosaki/blockGame.git" target="_blank"><img class="card__image" src="../../../../assets/imagens/blockGame.png" alt="game blockGame"></a>
    </div>

     <div class="card__content">
       <h1 class="card__title">blockGame</h1>
     <p>Game de destruir blocos, feito no curso Gamer Javascript, pela DIO com a tutora Gabriela Pinhero</p>
    </div>
  </div>


  <div class="card">
     <div class="card__image-container">
       <a href="https://github.com/edukurosaki/memory-game.git" class="href" target="_blank"><img class="card__image" src="../../../../assets/imagens/memoryGame.png"  alt=""></a>
    </div>

     <div class="card__content">
       <h1 class="card__title">memory-game</h1>
     <p>Jogo da memoria com tema Mario Brs</p>
    </div>
  </div>

  <div class="card">
     <div class="card__image-container">
       <img class="card__image" src="../../../../assets/imagens/learningEnglish.png"  alt="">
    </div>

     <div class="card__content">
       <h1 class="card__title">Learning English</h1>
     <p>Pequeno projeto para estudo de Ingles. Objetivo traduzir as frases sem perder vidas.</p>
    </div>
  </div>

  <div class="card">
     <div class="card__image-container">
       <img class="card__image" src="../../../../assets/imagens/FinancesHome.png"  alt="">
    </div>

     <div class="card__content">
       <h1 class="card__title">Finance$ Home</h1>
     <p>Pequeno controlador de finanças. Desenvolvido com a tutoria da Rocket</p>
    </div>
  </div>

</div>
