<div class="container">

  <div class="apresentation">
    <div class="title">
      <span><h3>Desenvolvedor Frontend</h3></span>
    </div>
    <div class="description">
      <h2>Eduardo Alves Francisco</h2>
      <p>
        Autodidata e proficiente. Desenvolvedor web e estudante de tecnologias back-end e front-end.
        Apaixonado por inovações tecnológicas e jogos eletrônicos. Projetista Eletricista desde 1998,
        com uma jornada profissional em várias empresas como a Votorantim Metais e a RPM - Rio Paracatu
        Mineração.
      </p>
      <button  mat-raised-button color="warn"> Meu curriculo </button>
    </div>
  </div>

  <div class="logos">
    <div class="top">
      <img class="toping" width="75px" src="../../../../assets/imagens/html.png" alt="logo html">
      <img class="toping" width="70px" src="../../../../assets/imagens/css.png" alt="logo html">
    </div>
    <div class="center">
      <img class="ajust" width="400px" src="../../../../assets/imagens/image-top.png" alt="imagem do html e do css">
    </div>
    <div class="botton">
      <img class="botting" width="70px" src="../../../../assets/imagens/JS.png" alt="logo do javaScript">
    </div>
  </div>
</div>
